.btnVolver {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnVolver:hover {
    transform: translateX(-5px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.flecha {
    width: 32px;
    height: 32px;
    stroke: #4B0082;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}
