/* ============================================
   1. GLOBALES Y VARIABLES
   ============================================ */

@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

:root {
    --fuente: 'Roboto';
    --text-size: 1.2rem;
    --color-boxes:#8A2BE2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fuente);
}

body {
    background-color: #E7E9EB; /* Boby gris para el contenido main */
}


